.header {
    height: 34vw;
    margin: 30px auto;
    background: url('/src/assets/header_img.png') no-repeat;
    background-size: contain;
    position: relative;
}

.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5vw;
    max-width: 50%;
    top: 10%;
    left: 6vw;
    animation: fadeIn 2s;
}

.header-contents h2 {
    font-weight: 500;
    color: white;
    font-size: max(4.5vw, 22px);
    line-height: 1.2;
}

.header-contents p {
    color: white;
    font-size: 1vw;
    line-height: 1.4;
}

.header-contents button {
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 10px);
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.header-contents button:hover {
    background-color: #ff6347;
    color: white;
    transform: scale(1.05);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (max-width: 1050px) {
    .header-contents h2 {
        font-size: max(4vw, 15px);
    }
    
    .header-contents p {
        font-size: max(1.3vw, 10px);
    }
    
    .header-contents button {
        padding: 2vw 4vw;
        font-size: max(1.3vw, 10px);
    }
}

@media (max-width: 750px) {
    .header {
        height: 70vw;
    }
    
    .header-contents {
        max-width: 70%;
    }
    
    .header-contents h2 {
        font-size: max(6vw, 20px);
    }
    
    .header-contents p {
        font-size: max(2vw, 12px);
    }
    
    .header-contents button {
        padding: 3vw 6vw;
        font-size: max(2vw, 12px);
    }
}
